#result-filters-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    margin-right: 10px;
}

#result-filters-container #sort-by {
    font-size: 12px;
    color: blue;
}

#result-filters-container .filter-icon svg {
    font-size: 18px;
    padding: 0 5px;
    cursor: pointer;
    color: #666666;
}

#result-filters-container .filter-icon.active svg {
    color: blue;
}

.review-list-ul {
    padding: 0;
    list-style-type: none;
    height: auto;
    margin-bottom: 0;
    margin-top: 5px;
}

.review-item {
    width: auto;
    margin-bottom: 10px;
    list-style: none;
    display: flex;
    flex-direction: row;
    background: #ccc;
    padding: 10px;
    border-radius: 10px;
}

.review-item:last-child {
    margin-bottom: 0;
}

.review-item .review-item-meta {
    display: flex;
    flex-direction: column;
    color: black;
    width: 75%;
    min-height: 75px;
}

.review-item .review-item-meta .review-item-meta-restaurant-name,
.review-item .review-item-meta .review-item-meta-review,
.review-item .review-item-meta .review-item-meta-review-date {
    text-align: left;
    color: black;
    width: 100%;
}

.review-item .review-item-meta .review-item-meta-restaurant-name {
    font-weight: bold;
    flex: 1 0 0;
}

.review-item .review-item-meta .review-item-meta-review {
    flex: 2 0 0;
}

.review-item .review-item-meta .review-item-meta-review-date {
    font-size: 11px;
    color: #333333;
    font-style: italic;
    text-align: right;
    flex: 1 0 0;
}

.review-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.review-container-holder {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px
}

.review-container .review-icon-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60px;
    padding: 2px;
}

.review-container .review-icon-holder .review-icon-value {
    font-size: 18px;
    font-weight: bold;
    padding-left: 5px;
}

.review-item .good .review-icon-value,
.review-item .good .review-icon {
    color: green;
}

.review-item .ok .review-icon-value,
.review-item .ok .review-icon {
    color: darkorange;
}

.review-item .bad .review-icon-value,
.review-item .bad .review-icon {
    color: darkred;
}

